<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>SHOPPING | 2019</title>

    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.common.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.rtl.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.silver.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.mobile.all.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" media="all"/>

    <script type="text/javascript" src="/static/js/lib/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/jszip.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.i18n.properties.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/kendo.all.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/common.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/index.js" charset="UTF-8"></script>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
</head>
<body>
<div class="none">
    <input id="locale" type="hidden" th:value="${locale}"/>
</div>

<div id="category-header" data-role="view" data-title="category">

    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-role="button" href="javascript:void(0)" data-rel="drawer"
               data-icon="drawer-icon"></a>
            <ul id="category-btnGroup" data-role="buttongroup" data-index="0" data-select-on="up">
                <li>大分類1</li>
                <li>大分類2</li>
            </ul>
            <a href="javascript:void(0)" data-align="right" data-role="button" data-icon="home"></a>
        </div>
    </header>

    <ul id="categoryShop-listView" class="main-menu" data-role="listview"></ul>
</div>


</body>
</html>