<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >

    <title>SHOPPING | 2019</title>

    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.common.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.rtl.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.silver.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/lib/kendo/kendo.mobile.all.min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" media="all"/>

    <script type="text/javascript" src="/static/js/lib/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/jszip.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.i18n.properties.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/lib/kendo.all.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/common.js" charset="UTF-8"></script>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico"/>
</head>
<body>
<div id="locale" class="none" th:text="${locale}"></div>
<div class="category-header-menu" data-role="view">
    <a id="category-btn-1" data-role="button" data-click="goCategory1">大分類1</a>
    <a id="category-btn-2" data-role="button" data-click="goCategory2">大分類2</a>
</div>

<div data-role="view">
    <ul data-role="listview" data-source="foo" data-load-more="true" data-template="foo-template">
        <script type="text/x-kendo-template" id="foo-template">
            "大分類1の" - #: shopName #
        </script>
    </ul>
</div>



<script type="text/javascript">
    var app = new kendo.mobile.Application();
    var data=[];
    for(var i=0;i<500;i++){
        data.push({shopId:i,shopName:+"販売店"+i});
    }
    // datasource below is customized for demo purposes.
    var foo = new kendo.data.DataSource({
        data:data
    });

    // new kendo.mobile.Application();

</script>
</body>
</html>